################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BranchAwareSample-2022/BranchAwareSamples/.vs/*
